*.js
!jest.config.js
*.d.ts

# VSCode
.vscode

# CDK asset staging directory
.cdk.staging
cdk.out

# Libraries
node_modules
pip_modules

# Credentials
app/shared/credentials

# Exceptions
!.eslintrc.js
!.prettierrc.js
!build-lambda-layers.js
!update-lambda-layers.js


